.g{

  padding: 100px 0;
  background: var(--style, #EEE);
  &__title{
    color: var(--171717, #171717);
    font-family: Bebas Neue, sans-serif;
    font-size: 48px;
    text-transform: uppercase;
  }
  &__left{
    width: 180px;
    height: 277px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title{
      margin: 20px 0 10px;
      color: var(--dafe-8-f, #35B984);
      font-size: 24px;
      font-weight: 500;
    }
    &-text{
      text-align: center;
      color: var(--171717, #171717);
      font-size: 16px;
      line-height: 120%;
    }
  }
  &__right{
    position: relative;
    background: var(--ffffff, #FFF);
    //box-shadow: 0px 10px 40px 0px rgba(133, 133, 133, 0.40);
    padding: 44px 100px 84px 100px;
    width: 880px;
    &-text{
      color: var(--171717, #171717);
      font-size: 16px;
      line-height: 150%;
      margin-top: 33px;
    }
    &-text2{
      color: var(--171717, #171717);
      font-size: 16px;
      line-height: 150%;
      margin: 15px 0;
    }
    &-text3{
      color: var(--dafe-8-f, #35B984);
      font-size: 20px;
      font-weight: 500;
      line-height: 150%;
    }
    &-img{
      position: absolute;
      top: 75px;
      left: 5px;
    }
  }
  &__nav{
    display: flex;
    justify-content: space-between;
  }
  &__click{
    display: flex;
    column-gap: 10px;
    &-next{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: var(--dafe-8-f, #35B984);
      color: white;
      font-size: 50px;
      cursor: pointer;
    }
    &-prev{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: var(--dafe-8-f, #35B984);
      color: white;
      font-size: 50px;
      cursor: pointer;
    }
  }
  &__start{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info{
    margin-top: 50px;
    width: 860px;
    background: var(--ffffff, #FFF);
    box-shadow: 0 10px 40px 0 rgba(133, 133, 133, 0.40);
    padding: 40px 100px 35px 98px;
    &-title{
      color: var(--171717, #171717);
      font-family: Bebas Neue, sans-serif;
      font-size: 36px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    &-text{
      color: var(--171717, #171717);
      font-size: 16px;
    }
    &-boxes{
      display: flex;
      align-items: center;
      column-gap: 14px;
    }
    &-btn{
      color: var(--ffffff, #FFF);
      font-family: Bebas Neue, sans-serif;
      font-size: 24px;
      height: 48px;
      padding: 0 30px;
      background: var(--171717, #171717);
    }
    &-nav1{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-linia{
      width: 100%;
      height: 1px;
      background: #858585;
      margin: 41px 0 25px;
    }
    &-subtitle{
      color: var(--171717, #171717);
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 8px;
    }
    &-desc{
      color: #C8B178;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      margin-top: 8px;
    }
    &-card{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-nav2{
      display: flex;
      justify-content: space-between;
    }
  }
  &__end{
    display: flex;
    justify-content: flex-end;
  }
}







.swiper-wrapper{
  width: 880px;
}
.swiper-slide{
  padding-left: 20px;
}





























