.p{
  background: url("../images/p/p.png") center/cover no-repeat;
  padding: 100px 0 50px;
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left{
    &-title{
      color: var(--ffffff, #FFF);
      font-family: Bebas Neue, sans-serif;
      font-size: 48px;
      text-transform: uppercase;
    }
    &-text{
      color: var(--ffffff, #FFF);
      font-size: 20px;
      line-height: 150%;
      margin: 50px 0 30px;
      span{
        color: var(--dafe-8-f, #35B984);
        font-size: 20px;
        font-weight: 700;
      }
    }
    &-text0{
      color: var(--ffffff, #FFF);
      font-size: 20px;
      line-height: 150%;
    }
  }

}